body {
    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;

}

.calculator-body {
    background-color: snow;
    color: black;
    width: 300px;
    height: 400px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ffbaff;
    box-shadow: 5px 5px 30px #ff8787;
}

.display-buttons {
    display: flex;
    justify-content: space-around;
}

button {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.button-calculate {
    margin-top: 20px;
    width: 100%;
}

hr {
    margin-top: 30px;
}

.display-numbers-input {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.display-result {
    margin-top: 50px;
}